# LIST RETRIEVED FROM STACK OVERFLOW:
# http://stackoverflow.com/questions/2143956/gitignore-for-visual-studio-projects-and-solutions
# enhanced to also omit "pidb" files for MonoDevelop
#  customized to also omit Deployment folder with binaries
#  also VB6 additional files added

#Notepad++ file autosave plugin
*~

#Custom deployment binaries folder
Deployment

#OS junk files
[Tt]humbs.db
*.DS_Store

#MonoDevelop optimization and preference files
*.pidb
*.userprefs

#VB6 additional files
*.vbw

#Visual Studio files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
# VS now auto-creates Backup directories when migrating older solutions etc...
Backup/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*
