<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoorMansTSqlFormatterNppPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PoorMansTSqlFormatterNppPlugin.Properties.Settings>
            <setting name="ExpandCommaLists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrailingCommas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExpandBooleanExpressions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandCaseStatements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandBetweenConditions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UppercaseKeywords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndentString" serializeAs="String">
                <value>\t</value>
            </setting>
            <setting name="UpgradeCompleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpaceAfterExpandedComma" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpacesPerTab" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxLineWidth" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="KeywordStandardization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BreakJoinOnSections" serializeAs="String">
                <value>False</value>
            </setting>
        </PoorMansTSqlFormatterNppPlugin.Properties.Settings>
    </userSettings>
</configuration>