<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ReferrerHostValidation" value="www.architectshack.com"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Sorry.htm"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
</configuration>
