<?xml version="1.0"?>

<configuration>
    <appSettings>
        <add key="ReferrerHostValidation" value="www.architectshack.com" />
    </appSettings>
    <connectionStrings/>
    <system.web>
        <compilation debug="true" />
        <authentication mode="None" />
        <customErrors mode="RemoteOnly" defaultRedirect="Sorry.htm" />
    </system.web>
</configuration>
