<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="16.0.0-beta4" targetFramework="net452" />
  <package id="Bridge.Core" version="16.0.0-beta4" targetFramework="net452" />
  <package id="Bridge.Html5" version="16.0.0-beta4" targetFramework="net452" />
  <package id="Bridge.Min" version="16.0.0-beta4" targetFramework="net452" />
  <package id="Bridge.Newtonsoft.Json" version="1.0.0-beta4" targetFramework="net452" />
</packages>