<?xml version="1.0" encoding="UTF-8"?>
<!--
Poor Man's T-SQL Formatter - a small free Transact-SQL formatting 
library for .Net 2.0 and JS, written in C#. 
Copyright (C) 2017 Tao Klerks

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="Poor Man's T-Sql Formatter SSMS Extension" 
           Version="!(bind.FileVersion.PoorMansTSqlFormatterSSMSPackagedll)"
           Manufacturer="Tao Klerks" 
           UpgradeCode="21d9993c-4f6c-41ba-9b6c-f103e25cc1e7" 
           Language="1033" 
           >
		<Package 
      Description="Poor Man's T-Sql Formatter SSMS Extension Installer - Version: !(bind.FileVersion.PoorMansTSqlFormatterSSMSPackagedll)"
      InstallerVersion="200" 
      Compressed="yes" 
      InstallScope="perMachine" 
      />

		<MajorUpgrade 
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." 
      AllowSameVersionUpgrades="yes"
      MigrateFeatures="no"
      />

    <MediaTemplate EmbedCab="yes" />

    <Binary Id="PoorMansTSqlFormatterSSMSPackage.Setup.action.CA.dll" 
            SourceFile="$(var.PoorMansTSqlFormatterSSMSPackage.Setup.action.TargetDir)PoorMansTSqlFormatterSSMSPackage.Setup.action.CA.dll" />
    
    <CustomAction Id='PrepActionData2014' 
                  Property='SetupPackageFilterAction2014' 
                  Value='APPLICATIONFOLDER=[APPLICATIONFOLDER];SSMS2014FILE=[#PkgDefExtensionsHookup2014]'
                  />

    <CustomAction Id='PrepActionData2016' 
                  Property='SetupPackageFilterAction2016' 
                  Value='APPLICATIONFOLDER=[APPLICATIONFOLDER];SSMS2016FILE=[#PkgDefExtensionsHookup2016]'
                  />

    <CustomAction Id="SetupPackageFilterAction2014" 
                  Return="check"
                  Execute="deferred"
                  BinaryKey="PoorMansTSqlFormatterSSMSPackage.Setup.action.CA.dll" 
                  DllEntry="PkgDefUpdateAction2014" 
                  Impersonate="no"
                  />
    
    <CustomAction Id="SetupPackageFilterAction2016" 
                  Return="check"
                  Execute="deferred"
                  BinaryKey="PoorMansTSqlFormatterSSMSPackage.Setup.action.CA.dll" 
                  DllEntry="PkgDefUpdateAction2016" 
                  Impersonate="no"
                  />

    <InstallExecuteSequence>
      <Custom Action="PrepActionData2014" Before="InstallInitialize" />
      <Custom Action="PrepActionData2016" Before="InstallInitialize" />
      <Custom Action="SetupPackageFilterAction2014" Before="InstallFinalize">
        <![CDATA[&SSMS2014Feature=3]]>
      </Custom>
      <Custom Action="SetupPackageFilterAction2016" Before="InstallFinalize">
        <![CDATA[&SSMS2016Feature=3]]>
      </Custom>
    </InstallExecuteSequence>
    
    <Feature 
      Id="MainFeature" 
      Title="Poor Man's T-SQL Formatter SSMS Extension - main Package" 
      Level="1"
      ConfigurableDirectory='APPLICATIONFOLDER'
      AllowAdvertise='no'
      InstallDefault='local'
      Absent='disallow'
      >
			<ComponentGroupRef Id="MainProductComponents" />
      <Feature
        Id="SSMS2014Feature"
        Title="SSMS 2014 integration" 
        Level="1"
        AllowAdvertise='no'
        InstallDefault='local'
        >
        <Condition Level='0'>
          <![CDATA[NOT SSMS2014EXTENSIONSFOLDER]]>
        </Condition>
   			<ComponentGroupRef Id="SSMS2014ComponentGroup" />
      </Feature>
      <!-- Level 1 means "install by default". We're overriding that default level of the feature based on the Condition, and 0 has special meaning "remove option". -->
      <Feature
        Id="SSMS2016Feature"
        Title="SSMS 2016 integration" 
        Level="1"
        AllowAdvertise='no'
        InstallDefault='local'
        >
        <Condition Level='0'>
          <![CDATA[NOT SSMS2016EXTENSIONSFOLDER]]>
        </Condition>
   			<ComponentGroupRef Id="SSMS2016ComponentGroup" />
      </Feature>
		</Feature>

    <!-- for the "WixUI_Advanced" UI -->
    <Property
      Id="ApplicationFolderName"
      Value="PoorMansTSqlFormatterSSMSExtension"
      />

    <!-- for the "WixUI_Advanced" UI -->
    <Property
      Id="WixAppFolder"
      Value="WixPerMachineFolder"
      />

    <UIRef Id="WixUI_Advanced" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)LICENSE.rtf" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />


    <!-- populated automatically by the "WixNetFxExtension" DLL reference -->
    <!-- PLEASE NOTE: I'm not entirely convinced that 2.0 really should be required - but it's always there for me so I haven't been able to check yet. -->
    <PropertyRef Id="NETFRAMEWORK20"/>
    <PropertyRef Id="NETFRAMEWORK45"/>
    
    <Condition Message='This setup requires the .NET Framework 2.0 installed.'>
      <![CDATA[Installed OR NETFRAMEWORK20]]>
    </Condition>

    <Condition Message='This setup requires the .NET Framework 4.5 installed.'>
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Property Id="SSMS2014EXTENSIONSFOLDER">
      <RegistrySearch Id='SSMS2014ExtensionsFolderRegistrySearch' Type='raw' Root='HKCU' Key='Software\Microsoft\SQL Server Management Studio\12.0_Config\Initialization' Name='ApplicationExtensionsFolder' />
    </Property>
    <Property Id="SSMS2016EXTENSIONSFOLDER">
      <RegistrySearch Id='SSMS2016ExtensionsFolderRegistrySearch' Type='raw' Root='HKCU' Key='Software\Microsoft\SQL Server Management Studio\13.0_Config\Initialization' Name='ApplicationExtensionsFolder' />
    </Property>

    <Condition Message='This setup requires SSMS 2016 or SSMS 2014 installed.'>
      <![CDATA[Installed OR SSMS2014EXTENSIONSFOLDER OR SSMS2016EXTENSIONSFOLDER]]>
    </Condition>
  
  </Product>

	<Fragment>
    <!-- frankly I still don't understand this container at all. -->
		<Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Also don't understand what this gets populated by, and how it decides to use x86 folder on 64-bit machines -->
			<Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="PoorMansTSqlFormatterSSMSExtension">
          <Directory Id="FRResourcesFolder" Name="fr" />
          <Directory Id="ESResourcesFolder" Name="es" />
        </Directory>
      </Directory>
      <!-- These directories get the value populated by the registry search above, if the registry value is found; 
           otherwise they default to this "Name" in C:\, but are never used. -->
      <Directory Id="SSMS2014EXTENSIONSFOLDER" Name="2014DefaultFolder" />
      <Directory Id="SSMS2016EXTENSIONSFOLDER" Name="2016DefaultFolder" />
    </Directory>
  </Fragment>

	<Fragment>
		<ComponentGroup Id="MainProductComponents">
      <Component Id="MainFiles" Directory="APPLICATIONFOLDER" Guid="5dd7dd2f-b4a3-459b-938c-1ca3d52a6685">
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)PoorMansTSqlFormatterSSMSPackage.dll" Id="PoorMansTSqlFormatterSSMSPackagedll" KeyPath="yes" />
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)PoorMansTSqlFormatterSSMSPackage.pkgdef" Id="PoorMansTSqlFormatterSSMSPackagepkgdef" /> <!-- Autogen ID would be same as DLL -->
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)PoorMansTSqlFormatterSSMSLib.dll" />
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)PoorMansTSqlFormatterPluginShared.dll" />
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)PoorMansTSqlFormatterLib.dll" />
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)LinqBridge.dll" />
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)LICENSE.rtf" />
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)extension.vsixmanifest" />
      </Component>
      <Component Id="FRFiles" Directory="FRResourcesFolder" Guid="19bb23ae-b6fc-4a27-8b66-df02e64506da">
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)fr\PoorMansTSqlFormatterPluginShared.resources.dll" Id="PluginSharedResourcesFR" KeyPath="yes" /> <!-- Autogen ID would be same across languages -->
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)fr\PoorMansTSqlFormatterSSMSLib.resources.dll" Id="SSMSLibSharedResourcesFR" />
      </Component>
      <Component Id="ESFiles" Directory="ESResourcesFolder" Guid="02752c27-11f6-4045-87c0-d39f95567cb8">
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)es\PoorMansTSqlFormatterPluginShared.resources.dll" Id="PluginSharedResourcesES" KeyPath="yes" />
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)es\PoorMansTSqlFormatterSSMSLib.resources.dll" Id="SSMSLibSharedResourcesES" />
      </Component>
    </ComponentGroup>
		<ComponentGroup Id="SSMS2014ComponentGroup">
      <Component Id='SSMS2014StartupFlag' Directory='APPLICATIONFOLDER' Guid='2c8e4308-db46-4bb6-8bbd-82322a3bf4bb'>
        <RegistryKey Root='HKCU' Key='Software\Microsoft\SQL Server Management Studio\12.0\Packages\{5E84B709-1E60-4116-A702-4CDB1A282D6E}'>
          <RegistryValue Type='integer' Name='SkipLoading' Value='1'/>
        </RegistryKey>
      </Component>
      <Component Id="SSMS2014PackageDefFile" Directory="SSMS2014EXTENSIONSFOLDER" Guid='84375cc6-2255-435b-b605-072cdc13ec19'>
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)PoorMansTSqlFormatterSSMSPackage.pkgdef" Id="PkgDefExtensionsHookup2014" KeyPath="yes" />
      </Component>
    </ComponentGroup>
		<ComponentGroup Id="SSMS2016ComponentGroup">
      <Component Id='SSMS2016StartupFlag' Directory='APPLICATIONFOLDER' Guid='8bd333e5-8804-4c65-9e49-f83eae90d9f5'>
        <RegistryKey Root='HKCU' Key='Software\Microsoft\SQL Server Management Studio\13.0\Packages\{5E84B709-1E60-4116-A702-4CDB1A282D6E}'>
          <RegistryValue Type='integer' Name='SkipLoading' Value='1'/>
        </RegistryKey>
      </Component>
      <Component Id="SSMS2016PackageDefFile" Directory="SSMS2016EXTENSIONSFOLDER" Guid='466e0fba-0aa5-49b9-a097-6db83d124a3e'>
        <File Source="$(var.PoorMansTSqlFormatterSSMSPackage.TargetDir)PoorMansTSqlFormatterSSMSPackage.pkgdef" Id="PkgDefExtensionsHookup2016" KeyPath="yes" />
      </Component>
    </ComponentGroup>
	</Fragment>  
</Wix>
