<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoorMansTSqlFormatterDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PoorMansTSqlFormatterDemo.Properties.Settings>
            <setting name="DisplayTokenList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayParsedSqlXml" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayFormattingOptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeCompleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatter" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="IdentityColoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Indent" serializeAs="String">
                <value>\t</value>
            </setting>
            <setting name="IndentWidth" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxWidth" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="StandardColoring" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandCommaLists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrailingCommas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpaceAfterComma" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExpandBooleanExpressions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandCaseStatements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandBetweenConditions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BreakJoinOnSections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UppercaseKeywords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableKeywordStandardization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UILanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="RandomizeColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomizeKeywordCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomizeLineLength" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreserveComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeywordSubstitution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExpandInLists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewStatementLineBreaks" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NewClauseLineBreaks" serializeAs="String">
                <value>1</value>
            </setting>
        </PoorMansTSqlFormatterDemo.Properties.Settings>
    </userSettings>
</configuration>